@charset "UTF-8";
body {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: 0px;
  background-color: #fffdf5;
  color: #6c6c6c;
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

* {
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
}
.container .gray-section {
  background-color: #f5f5f5;
  position: relative;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .gray-section-icon {
  width: 35%;
}
.container .gray-section-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.container .gray-section p {
  margin: 18px 0;
  padding: 0 20px 0 20px;
}
.container .photos {
  position: relative;
  border-radius: 0;
  box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.75);
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 20px;
}
.container .photos .slider-container {
  position: relative;
  width: 100%;
  display: flex;
  overflow-x: scroll;
  /* Vamos a añadir esto 👇 */
  scroll-snap-type: x mandatory;
}
.container .photos .polaroid {
  position: relative;
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.75);
  padding: 15px 15px 40px 15px;
  margin: 5px;
  flex: 0 0 70%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Vamos a añadir esto 👇 */
  scroll-snap-align: center;
}
.container .photos .polaroid img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .countdown {
  border-radius: 0;
  box-shadow: 0px 2px 17px 0px rgba(0, 0, 0, 0.75);
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 50px 0 50px 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .countdown .clock {
  display: flex;
  justify-content: center;
  font-family: "Quattrocento", serif;
}
.container .countdown .clock > .time-box + .time-box {
  border-left: solid #6c6c6c;
}
.container .countdown .clock .time-box {
  padding: 0 10px 0 10px;
}

.front-page {
  position: relative;
}
.front-page .date {
  font-family: "Ephesis", cursive;
  font-size: 30px;
}
.front-page-image {
  position: relative;
  height: 120vw;
  background-image: url("./resources/images/jandr.png");
  background-position: center;
  background-size: cover;
}
.front-page-info {
  padding: 10px;
  position: relative;
}
.front-page .logo {
  width: 50%;
}
.front-page .logo-image {
  position: relative;
  width: 100%;
}
.front-page .logo .name {
  margin-bottom: 20px;
}
.front-page .phrase {
  width: 75%;
  font-size: 35px;
  font-family: "Ephesis", cursive;
  margin: 10px 0 15px 0;
}
.front-page .phrase .quote {
  text-align: right;
  font-size: 25px;
}
.front-page svg {
  width: 10px;
  height: 30px;
}
.front-page .adorno-gota-1 {
  transform: scaleY(-1);
}
.front-page path {
  fill: #c08f40;
  stroke: none;
}

.title1 {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 45px;
  color: #c08f40;
  margin-bottom: 20px;
  width: 80%;
  margin-top: 30px;
}

.subtitle {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: #c08f40;
}

.ceremony-party {
  display: flex;
  flex-direction: column;
}
.ceremony-party .box-ornament {
  border: 1px solid #c08f40;
  margin: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quattrocento-regular {
  font-family: "Quattrocento", serif;
  font-weight: 400;
  font-style: normal;
}

.quattrocento-bold {
  font-family: "Quattrocento", serif;
  font-weight: 700;
  font-style: normal;
}

.padding-top-botom {
  padding-top: 15vw;
  padding-bottom: 15vw;
}

.padding-botom {
  padding-bottom: 20vw;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

.up-flowers {
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
}

.down-flowers {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  transform: rotate(180deg);
}

#days,
#hours,
#minutes,
#seconds {
  font-size: 35px;
  color: #ba9972;
}

.heart {
  margin-top: 50px;
  height: 25px;
  width: 25px;
  background-color: #c08f40;
  transform: rotate(-45deg);
  position: relative;
  animation: heartbeat 1s infinite;
}

.heart::before,
.heart::after {
  content: "";
  height: 25px;
  width: 25px;
  background-color: #c08f40;
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -12.5px;
  left: 0px;
}

.heart::after {
  left: 12.5px;
  top: 0px;
}

.button {
  margin-top: 5px;
  background-color: #ba9972;
  border-radius: 10px;
  line-height: 17px;
  padding: 15px 30px;
  max-width: 230px;
  display: inline-block;
  color: #f5f5f5;
}

@keyframes heartbeat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  25% {
    transform: scale(1.25) rotate(-45deg);
  }
  45% {
    transform: scale(1.5) rotate(-45deg);
  }
}/*# sourceMappingURL=index.css.map */